# Ignore build artifacts
*.o
*.out
*.exe
*.a
*.so
*.dylib
*.log
*.txt
*.root
Pulse_Analysis
Pulse_Tail
*.csv

# Slurm/SBatch
*.sbatch
*.slurm
out/

# VSCode settings (optional)
.vscode/
